<!-- <app-header></app-header> -->
<router-outlet></router-outlet>

<!-- <h1>{{'Hi srinu' + ' ' + pageHeader}}</h1>
<h1>{{termonaryOperratorEx ? termonaryOperratorEx :'No Header'}}</h1>
<strong>interpolation binding: </strong><img src='{{imagePath}}'/>

<strong>Property Binding : </strong><img [src]='imagePath'/>

<img src="https://www.wisdomimg.com/{{imagePath}}"/>
<h1>{{getfullName()}}</h1>
<button [disabled]='isDisabled'>click</button>
<span [innerHTML]="pageHeader"></span>
<p>OR canancle binding</p>
<span bind-innerHTML="pageHeader"></span>


<div [innerHtml]='badHtml'></div> -->
